#product-carousel-container {
    position: relative;
    width: 50%;
    height: 25%;
    margin-top:2%;
    margin-left: 25%;
    text-align: center;
}
h2 {
    margin-top: 50px; /* Ajout de cet espacement pour l'esthétique */
}
#product-carousel {
    height: 29vw;
    margin: 50px 0 0;
    list-style: none;
    position: relative;
}

#product-carousel li {
    position: absolute;
    left: 50%;
    top: 0;
    width: 45%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

#product-carousel li.item-1 {
    z-index: 2;
    transform: translateX(-50%) scale(1.2) translate3d(0, 0, 0);
}

#product-carousel li.item-2 {
    z-index: 1;
    transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
}

#product-carousel li.item-3 {
    z-index: 0;
    transform: translateX(-50%) scale(0.5) translate3d(180%, -31%, 0);
}

#product-carousel li.item-4 {
    z-index: 0;
    transform: translateX(-50%) scale(0.5) translate3d(-180%, -31%, 0);
}

#product-carousel li.item-5 {
    z-index: 1;
    transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
}


#product-carousel li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    transform: translateX(-50%);
    transition: .25s;
}

#product-carousel li:hover img {
    transform: translateY(-15px);
}

#product-carousel li:hover:after {
    width: 90%;
}

#product-carousel li:not(:hover) img {
    transition: transform .075s ease-out;
}

#product-carousel li:not(:hover):after {
    transition: .075s;
}

#product-carousel li img {
    width: 100%;
    height: auto;
    margin-top: 50%;
    transition: transform .25s ease-in;
}

#product-carousel-nav .carousel-nav {
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    border-top: 2px solid #009e5f;
    border-right: 2px solid #009e5f;
    border-bottom: none;
    border-left: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
}

#product-carousel-nav .carousel-nav.prev {
    left: -45%;
    bottom:40%;
    transform: rotate(-135deg);
}

#product-carousel-nav .carousel-nav.next {
    right: -45%;
    bottom:40%;
    transform: rotate(45deg);
}


