<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>

        <servlet-name>moderatorServlet</servlet-name>
        <servlet-class>Servlet.ModeratorServlet</servlet-class>
        <multipart-config>
            <location>tmp</location>
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 * 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold>  <!-- 1 Mo -->
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>moderatorServlet</servlet-name>
        <url-pattern>/moderator-servlet</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/header.jsp</include-prelude>
            <include-prelude>/WEB-INF/Vue/taglibs.jsp</include-prelude>
            <include-coda>/footer.jsp</include-coda>
        </jsp-property-group>

        <filter>
            <filter-name>NoCacheFilter</filter-name>
            <filter-class>com.example.NoCacheFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>NoCacheFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
    </jsp-config>
</web-app>

