/* Import de la police Inter depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* Réinitialisation des styles de base */
*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Styles pour le corps du document */
body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    padding: 5rem 0;
    font-size: clamp(1rem, 2.5vw, 1.125rem);
}

/* Styles pour les sections du document */
section {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

    & + section {
        margin-top: 2.5em;
    }
}

/* Styles pour les titres de niveau 1 */
h1 {
    font-weight: 700;
    line-height: 1.125;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

/* Styles pour les titres de niveau 2 */
h2 {
    margin-top: .25em;
    color: #999;
    font-size: clamp(1.125rem, 2.5vw, 1.25rem);

    & + * {
        margin-top: 1.5em;
    }
}

/* Styles pour les détails avec la balise summary */
summary {
    background-color: #fff;
    position: relative;
    cursor: pointer;
    padding: 1em .5em;
    list-style: none;
    border-radius: 20px;
    &::-webkit-details-marker {
        display: none;
    }

    &:hover {
        background-color: #f2f5f9;
    }

    & div {
        display: flex;
        align-items: center;
    }

    & h3 {
        display: flex;
        flex-direction: column;
    }

    & small {
        color: #999;
        font-size: .875em;
    }

    & strong {
        font-weight: 700;
    }

    & span:first-child {
        width: 4rem;
        height: 4rem;
        border-radius: 10px;
        background-color: #f3e1e1;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-right: 1.25em;

        & svg {
            width: 2.25rem;
            height: 2.25rem;
        }
    }

    & span:last-child {
        font-weight: 700;
        margin-left: auto;
    }

    &:focus {
        outline: none;
    }

    .plus {
        color: #289672;
    }
}

/* Styles pour les détails */
details {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    &[open] {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &:first-of-type {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    & > div {
        padding: 2em 2em 0;
        font-size: .875em;
    }
}

/* Styles pour les listes de définitions */
dl {
    display: flex;
    flex-wrap: wrap;
    width: max-content;

    & dt {
        font-weight: 700;
        margin-inline-start: 40px;
    }

    & div {
        margin-right: 4em;
        margin-bottom: 2em;
    }
}
.command{
    margin-left: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 64%;
    margin-right: auto;
    border-radius: 20px;
}

