/* Header */
header {
    width: 100%;
    height: 150px;
}


.header-nav {
    padding: 0;
    height: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.header-nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.header-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;

}

.header-nav form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.style {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 4px;



}
.lienG{
    padding: 15px;
    color: #0d6735;
    font-family: Helvetica,sans-serif;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    background: none;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.lien {
    padding: 15px;
    color: #0d6735;
    font-family: Helvetica,sans-serif;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    background: none;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;


}

.lien:hover {
    background-color: #0d6735;
    color: #f7f6f2;
}

/* Permet d'aligner l'image avec le panier */
.test svg {
    vertical-align: middle;
    margin-right: 10px;
}

/* Barre de recherche */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
}

.search-form input[type="text"] {
    font-size: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 30px;
    width: 300px;
    background-color: #f7f6f2;
    transition: all 0.3s ease-in-out;
}

.search-form button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.search-form button[type="submit"]:hover {
    color: #555;
}

.search-form input[type="text"]:focus {
    width: 400px;
    background-color: #f7f6f2;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}

.search-form input[type="text"]::placeholder {
    color: #555;
}

.menu-deroulant {
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 4px;
}

.menu-deroulant:hover {
    /* Supprimez les propriétés border ici */
    background-color: #f7f6f2;
}

.sous-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0; /* Ajoutez cette ligne pour centrer horizontalement */
    /* Supprimez les propriétés border ici */
    background-color: #f7f6f2;
    border-top: none;
    max-height: 10000px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.menu-deroulant:hover .sous-menu {
    display: block;
    max-height: 200px;
}

/* Ajoutez cette règle pour masquer les sous-menus lorsque la souris ne les survole pas */
.menu-deroulant:not(:hover) .sous-menu {
    display: none;
    max-height: 0;
}

.menu-deroulant form {
    display: block;
    margin-left: 0;
}

.menu-deroulant form button {
    display: block;
    padding: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.menu-deroulant form button:hover {
    background-color: #0d6735;
}

.menu-deroulant:hover .sous-menu {
    display: block;
    max-height: 200px;
    width: 100%; /* Ajoutez cette ligne pour ajuster la largeur */
}
.navbar-nav li > form > button a {
    color: #0d6735;
    text-align: center;
    display: block;
    padding: 10px;
    position: relative;
}

.navbar-nav li > form > button a > span {
    display: inline-block;
}

.navbar-nav li > form > button a:hover {
    color: #119b18;
}

.navbar-nav li > form > button a:hover > span {
    text-decoration: underline;
}

.navbar-nav li > form > button a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #0d6735;
    transition: width .3s;
}

.navbar-nav li > form > button a:hover::after {
    width: 100%;
}

.navbar-nav li > form > button a {
    text-decoration: none;
}

.navbar-nav li > form > button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}